{% block content %}
<div class="aboutbss">
	<h2>About BetterSTATEScheduler</h2>
	<p>
		This site was created to be a better version of the PSU Schedule of Courses website.
		I was inspired to do this by the designs of <a href="http://www.hipmunk.com" target="_blank">Hipmunk</a> and <a href="http://www.bettermetronorth.com" target="_blank">BetterMetroNorth</a>
	</p>
	<h2>Usage</h2>
	<p>Select a course subject by typing it into the search bar, pick which semester you are looking for, and click the submit button. Currently this search only works for the University Park campus.</p>
	<h2>GitHub</h2>
	<p>The source for BetterSTATEScheduler can be found on <a href="http://github.com/TheABrad/bss">GitHub</a>. Feel free to send a pull request or submit an issue.</p>
	

</div>

{% endblock %}