<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Better State Scheduler</title>
    <link rel="stylesheet" href="{{ static_url('css/styles.css') }}" type="text/css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <!--<script type="text/javascript" src="{{ static_url('javascript/jquery-ui-1.8.21.custom.min.js') }}"></script> -->
    <script type="text/javascript" src="{{ static_url('javascript/autocomplete.js')}}"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> 
    <![endif]-->
    {% block head %}
    {% end %}
  </head>

  <body>
    <div id="content">
    {% block content %}{% end %}
    </div>
    <div class="footer">
      <p class="footertext">© {{year}} Alex Bradley | <a href="pages/about" rel="facebox">About</a> | <a href="mailto:alexrobertbradley@gmail.com">Contact</a> | <a href="http://www.psumap.com" target="_blank">Campus Map</a></p> 
    </div>
  </body>
  {% block javascript %}
  <script type="text/javascript">
  //<![CDATA[
    $(document).ready(function() {
      {% block onload %}
      {% end %}
    });
  //]]>
  </script>
  {% end %}
</html>
