<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Better State Scheduler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/autocomplete.js')}}"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> 
    <![endif]-->
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <div id="content">
    {% block content %}{% endblock %}
    </div>
    <div class="footer">
      <p class="footertext">© {{year}} Alex Bradley | <a href="/about" rel="facebox">About</a> | <a href="mailto:alexrobertbradley@gmail.com">Contact</a> | <a href="http://www.psumap.com" target="_blank">Campus Map</a></p> 
    </div>
  </body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40033529-1', 'betterstatescheduler.com');
  ga('send', 'pageview');

  </script>
  {% block javascript %}
  <script type="text/javascript">
  //<![CDATA[
    $(document).ready(function() {
      {% block onload %}
      {% endblock %}
    });
  //]]>
  </script>
  {% endblock %}
</html>
