{% extends "layout.html" %}

{% block head %}
<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
	$("tbody tr:nth-child(even)").addClass("even");
});
//]]>
</script>
{% endblock %}

{% block content %}
<div class="centered schedule">
	{% autoescape off %}
	{{ schedule['header'] }}
	{% if error==True %}
	<p class="error">Course number does not exist</p>
	{% endif %}
	{% for table in schedule['tables'] %}
		{{ table }}
		<br />
	{% endfor %}
	<br />
	{% endautoescape %}
</div>

{% endblock %}